<div class="container">
  <div class="panel panel-default">
    <% @widgets.each do |widget| %>
      <div class="widget-check-container inline-block" data-widget-data="<%= widget_data_id(widget) %>">
      <label class="checkbox-inline">
        <input class="widget-check" data-user="<%= current_user.id %>"
                                    data-widget="<%= widget.id %>"
                                    type="checkbox" value="">
                                    <%= widget.name %>
        <div class="edit-widget-data-link"></div>
      </label>
    </div>
    <% end %>
  </div>
</div>
