<div class="container">
  <div class="panel panel-default">
    <%= form_tag "/widget_data/#{@widget_data.id}", method: :put do %>
      <% @widget.field_names.split(',').each do |field| %>
        <div>
        <label>
          <%= field %>:
          <%= text_field_tag field %>
        </label>
        </div>
      <% end %>
      <%= submit_tag "Save" %>
    <% end %>
  </div>
</div>
