<div class="jumbotron">
  <h2 class="text-center">Personal Dash</h2>
</div>
<div class="container">
  

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default icon-panel">
        <div class="panel-heading">
          <a  class="collapse-btn"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <h2 class="panel-title pull-right"><%= @dashboard.user.home_city.capitalize %></h2>
        </div>
        <div id="time-container" class="panel-body">
          <div class="col-md-3"><div class="glyphicon glyphicon-time"></div></div>
          <div class="col-md-9" id="time"></div>
          <div class="col-md-3"><div class="weather-icon"></div></div>
          <div class="col-md-9"><div id="temp" data-city=<%= @dashboard.user.home_city %>></div></div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default icon-panel">
        <div class="panel-heading">
          <a  class="collapse-btn"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <h2 class="panel-title pull-right">News</h2>
        </div>
        <div id="newsfeed" class="panel-body">
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="panel panel-default icon-panel">
        <div class="panel-heading">
          <a  class="collapse-btn"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <h2 class="panel-title pull-right">How To</h2>
        </div>
        <div class="panel-body">
          <div class="col-md-3" id="how-to-thumb"></div>
          <div class="col-md-9" id="how-to"></div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default icon-panel">
        <div class="panel-heading">
          <a  class="collapse-btn"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <h2 class="panel-title pull-right">Quote of the Day</h2>
        </div>
        <div id="quote" class="panel-body">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a  class="collapse-btn"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <h2 class="panel-title pull-right">Traffic</h2>
        </div>
        <div class="panel-body">
          <iframe
            width="100%"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDegZ6M6uR-zuwpyWGNZOiQ4k3qOs5_kJw
              &origin=Bartram+Park+Jacksonville,FL&destination=Mayo+Clinic+Jacksonville,FL" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>  
